.sidebar {
    display: none;
}

.sidebar.open {
    display: block;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 300px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.10), 0px 10px 40px 0px rgba(29, 33, 38, 0.13);
    z-index: 999;
}

.background {
    opacity: 0.3;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #000;
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.nav a {
    padding: 12px;
    color: hsla(0, 0%, 0%, 1);
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

.nav a:hover {
    color: hsla(210, 100%, 67%, 1);
}

.nav a.active {
    color: hsla(210, 100%, 35%, 1);
    text-decoration: underline;
}

.close {
    top: 16px;
    position: absolute;
    right: 16px;
    background: unset;
    border: 0;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

.close img {
}
