.input:focus {
    border: 1px solid hsla(210, 100%, 40%, 1);
}

.input {
    height: 40px;
    border-radius: 8px;
    border: 1px solid hsla(0, 0%, 82%, 1);
    min-width: 300px;
    padding: 0 8px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {

}

.errorInput {
    border: 1px solid hsla(348, 82%, 44%, 1);
}

.errorInput:focus {
}

.error {
    color: hsla(348, 82%, 44%, 1);

}
