.item {
    border-bottom: 1px solid #efefef;
    line-height: 2rem;
    &:hover {
        background-color: #fafafa;
    }
}

.item:last-of-type {
    border-bottom: none;
}

.users {
    width: 100%;
}

.buttonsContainer {
    display: flex;
    gap: 8px;
    justify-content: end;
    margin: 8px 0 24px;
}

.container {

}

.thead {
    background-color: #efefef;
    line-height: 2rem;
}

.nameCol {
    min-width: 10rem;
    width: 50%;
    padding: 8px;
}

.ageCol {
    min-width: 10rem;
    width: 50%;
    padding: 8px;
}